
@import "bootstrap.css"; 
@import "swiper.min.css"; 

@font-face {
	font-family: 'open_sansregular';
	src: url('fonts/OpenSans-Regular-webfont.eot');
	src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
		 url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
		 url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'robotobold';
	src: url('fonts/Roboto-Bold-webfont.eot');
	src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Roboto-Bold-webfont.woff') format('woff'),
		 url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
		 url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
	font-weight: normal;
	font-style: normal;
}

.prova-online {
	background: #f2f2f2;
	color: #444444;
	font-family: 'open_sansregular';
	padding: 0;
	margin: 0;
	overflow-x: hidden;

	main {
		padding: 20px;
	}


	.iconesInstrucoes {
		border: 1px solid #029487;
		border-radius: 50%;
		float: left;
		margin: 5px 15px 10px 0;
		padding: 14px;
		height: 90px;
		width: 90px;
		text-align: center;
		img{
			height: 60px;
			width: 60px;
			&.icone-warning {
				margin: -2px 0 0 -2px;
			}
		}
	}

	.left {
		text-align: left;
	}
		.align-left {
			float: left;
		}

	.right {
		text-align: right;
	}
		.align-right {
			float: right;
		}

	.center {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.justify {
		text-align: justify;
	}

	.hidden {
		display: none;
	}

	.hidden-sm {
		display: block;
	}

	.show-sm {
		display: none;
	}

	button.disabled, a.disabled, a.disabled:hover {
		pointer-events: none;
		cursor: not-allowed;
	}

	// grid

	@width: 96%;
	@gutter: 4%;
	@breakpoint-small: 	33.75em; 	// 540px
	@breakpoint-med: 	   45em; 	// 720px
	@breakpoint-large: 	   60em; 	// 960px

	.container-prova {
		width: 90%;
		margin-left: auto;
		margin-right: auto;

		@media only screen and (min-width: @breakpoint-small) {
			width: 80%;
		}

		@media only screen and (min-width: @breakpoint-large) {
			width: 75%;
			max-width: 60rem;
		}
	}

	.row-prova {
		position: relative;
		width: 100%;
	}

	.row-prova [class^="col"] {
		float: left;
		margin: 0.5rem 2%;
		min-height: 0.125rem;
	}

	.row-prova::after {
		content: "";
		display: table;
		clear: both;
	}

	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
		width: @width;
	}

	.col-1-sm { width:(@width / 12) - (@gutter * 11 / 12); }
	.col-2-sm { width: (@width / 6) - (@gutter * 10 / 12); }
	.col-3-sm { width: (@width / 4) - (@gutter * 9 / 12); }
	.col-4-sm { width: (@width / 3) - (@gutter * 8 / 12); }
	.col-5-sm { width: (@width / (12 / 5)) - (@gutter * 7 / 12); }
	.col-6-sm { width: (@width / 2) - (@gutter * 6 / 12); }
	.col-7-sm { width: (@width / (12 / 7)) - (@gutter * 5 / 12); }
	.col-8-sm { width: (@width / (12 / 8)) - (@gutter * 4 / 12); }
	.col-9-sm { width: (@width / (12 / 9)) - (@gutter * 3 / 12); }
	.col-10-sm { width: (@width / (12 / 10)) - (@gutter * 2 / 12); }
	.col-11-sm { width: (@width / (12 / 11)) - (@gutter * 1 / 12); }
	.col-12-sm { width: @width; }

	@media only screen and (min-width: @breakpoint-med) {
		.col-1 { width:(@width / 12) - (@gutter * 11 / 12); }
		.col-2 { width: (@width / 6) - (@gutter * 10 / 12); }
		.col-3 { width: (@width / 4) - (@gutter * 9 / 12); }
		.col-4 { width: (@width / 3) - (@gutter * 8 / 12); }
		.col-5 { width: (@width / (12 / 5)) - (@gutter * 7 / 12); }
		.col-6 { width: (@width / 2) - (@gutter * 6 / 12); }
		.col-7 { width: (@width / (12 / 7)) - (@gutter * 5 / 12); }
		.col-8 { width: (@width / (12 / 8)) - (@gutter * 4 / 12); }
		.col-9 { width: (@width / (12 / 9)) - (@gutter * 3 / 12); }
		.col-10 { width: (@width / (12 / 10)) - (@gutter * 2 / 12); }
		.col-11 { width: (@width / (12 / 11)) - (@gutter * 1 / 12); }
		.col-12 { width: @width; }

		.hidden-sm {
			display: block;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		font-family: 'robotobold';
		position: relative;
		&:after {
			content: " ";
			background: #4abdaa;
			width: 50px;
			height: 3px;
			position: absolute;
			bottom: -15px;
			left: 0;
		}
	}

		h1 { font-size: 2em; }
		h2 { font-size: 1.5em; }
		h3 { font-size: 1.17em; }
		h4 { font-size: 0.92em; }
		h5 { font-size: 0.83em; }
		h6 { font-size: 0.67em; }

	input {
		border: 1px solid #c4c4c4;
		border-radius: 4px;
		display: inline-flex;
		min-height: 40px;
		outline: none;
		padding: 5px 20px;
		width: 100%;
	}

	textarea {
		border: 1px solid #c4c4c4;
		border-radius: 4px;
		display: inline-flex;
		padding: 5px 20px;
		min-height: 320px;
		outline: none;
		resize: none;
		width: 100%;
		&.atencao {
			border-bottom: 3px solid #ffa000;
		}
		&.perigo {
			border-bottom: 3px solid #ff5622;
		}
	}

	.label-titulo {
		color: #858585;
		padding-top: 3px;
		display: inline-block;
	}

	.modal-body {
		padding: 0;
	}

	.btn {
		background: #fff;
		border: 2px solid #009688;
		border-radius: 4px;
		color: #009688;
		cursor: pointer;
		font-size: 0.8em;
		font-weight: bold;
		min-height: 40px !important;
		margin: 0 5px;
		padding: 10px 18px;
		text-transform: uppercase;
		text-decoration: none;

		&:hover {
			background: #009688;
			color: #fff;
		}

		&.fill {
			background: #009688;
			color: #fff;
		}

		&.sair-redacao {
			background: #fff;
			border-color: #fff;
			color: #009688;
			font-size: 1em;
			&:hover {
				text-decoration: underline;
			}
			.sair {
				background: url('../images/prova/icone.png') no-repeat top left;
				background-position: -320px -128px;
				float: left;
				height: 16px;
				width: 20px;
				margin-right: 3px;
			}
		}

		&.voltar-prova {
			min-width: 92px;
		}

		&.disabled {
			border-color: rgba(0,150,136,0.7);
			background: rgba(0,150,136,0.5);
			color: #fff;
		}

		&.enviar-redacao {
			border-color: #ffb200;
			background: #ffb200;
			color: #2a3539;
			min-width: 106px;

			&.disabled {
				border-color: #ffb200;
				background: #ffb200;
				color: #fff;
				opacity: 0.5;
			}
		}

		&.btn-regulamento {
			display: inline-flex;
			float: right;
			font-size: 1em;
			margin: 15px 0;
			overflow: hidden;
			position: relative;
			transition: all 0.5s ease;

			&:before{
				content: "";
				color: #fff;
				width: 100%;
				height: 100%;
				background-color: #009688;
				position: absolute;
				transition: all 0.5s ease;
				top: 0;
				left: -210px;
			}

			&:hover:before{
				left: 0;
			}

			p {
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 1;
				transition: all 0.5s ease;
			}
		}
	}

	.topo-prova {
		max-width: 960px;
		
		.titulo-timer {
			font-size: 0.8em;
			float: left;
			margin-top: -5px;
		}
	}

	.logo-vestibulares-verde {
		background: url('../images/prova/logo-vestibulares-verde.png') no-repeat top left;
		display: inline-grid;
		height: 37px;
		width: 232px;
	}

	.logo-vestibulares-verde-menor {
		background: url('../images/prova/icone.png') no-repeat top left;
		background-position: -368px -80px;
		float: left;
		height: 42px;
		width: 42px;
		margin-right: 3px;
		margin-bottom: 10px;
	}

	.logo-vestibulares-footer {
		background: url('../images/prova/logo-vestibulares-footer.png') no-repeat top left;
		display: inline-grid;
		height: 18px;
		width: 112px;
	}
	
	.homologacao {
		border: 1px solid #bd7c7c;
		background: #cf7c7c;
		color: #fff;
		padding: 10px 0;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
	}

	.bloco-links {
		margin: 20px auto;
		padding: 20px 0;
		max-width: 960px;
	}

	.bloco-principal {
		background: #fff;
		border-radius: 10px;
		box-shadow: 0px 0px 16px #c6c6c6;
		margin: 20px auto;
		padding: 20px;
		max-width: 960px;

		.logo-apresentacao-prova {
			img {
				border: 1px solid #f2f2f2;
				padding: 5px;
				width: 72px;
			}
		}

		.inicio-apresentacao {
			font-size: 1em;
			line-height: 1.8em;
		}

		.instrucoes {
			p {
				display: table-cell;
				font-size: 0.99em;
				height: 90px;
				line-height: 1.4em;
				vertical-align: middle;
			}
			.icone {
				background: url('../images/prova/icone.png') no-repeat top left;
				float: left;
				height: 80px;
				width: 80px;
				margin: 5px 15px 10px 0;
				&.iconeInstrucoes01 { background-position: 0 0; }
				&.iconeInstrucoes02 { background-position: -80px 0px; }
				&.iconeInstrucoes03 { background-position: -160px 0px; }
				&.iconeInstrucoes04 { background-position: -240px 0px; }
				&.iconeInstrucoes05 { background-position: -320px 0px; }
				&.iconeInstrucoes06 { background-position: 0 -80px; }
				&.iconeInstrucoes07 { background-position: -240px -80px; }
				&.iconeInstrucoes08 { background-position: -160px -80px; }
				&.iconeInstrucoes09 { background-position: -80px -80px; }
			}

			&.instrucoes-topo {
				margin-top: 20px;
			}
		}
	}

	.swiper-slide {
		text-align: center !important;
		.iconesInstrucoes {
			display: block;
			float: inherit !important;
			margin: 0 auto !important;
		}
		p {
			float: left;
			font-size: 1.2em !important;
			height: auto !important;
			min-height: 155px !important;
			padding: 10px 20px;
			text-align: center;
			width: 100%;
		}
	}

	.swiper-button-prev, .swiper-button-next {
		background-size: 40px !important;
		height: 40px !important;
		top: 92% !important;
		width: 40px !important;
	}
	.swiper-button-prev {
		left: 15px;
	}
	.swiper-button-next {
		right: 15px;
	}

	#aceiteScroll {
		height: 400px;
		p {
			padding: 10px 20px;
		}
	}

	.bloco-prova-online {
		padding: 0px 20px 20px !important;
	}

	.prova-tema-acordeon {
		span.seta {
			width: 20px;
			height: 20px;
			margin-left: 10px;
			margin-top: -2px;
			display: inline-table;
			text-align: center;
			vertical-align: middle;
			transform: rotate(90deg);
		}
		a {
			background: #009788;
			border: 1px solid #c4c4c4;
			border-radius: 4px 4px 0 0;
			// color: #009a8a;
			color: #fff;
			float: left;
			line-height: 50px;
			text-decoration: none;
			margin-bottom: 20px;
			width: 100%;
			transition: all 0.5s ease;
			vertical-align: middle;
			&:hover {
				background: #009788;
				color: #fff;
			}
			&.active {
				background: #fff;
				color: #009788;
				span.seta {
					transform: rotate(0deg);
				}
			}
			strong, p {
				display: inline-block;
				padding: 0;
				margin: 0;
			}
			strong {
				margin-right: 5px;
			}
		}
	}

	.processo-timer{
		float: right;
		display: inline-block;
		width: 234px;
	}

	.timer {
		float: left;
		height: 48px;
		width: 48px;
		margin-right: 5px;
		position: relative;
	}

	.prova-tema-acordeon-conteudo {
		border: 1px solid #bbbbbb;
		border-top: 0;
		border-radius: 0 0 4px 4px;
		display: block;
		height: auto;
		margin-top: -30px !important;
		padding: 20px;

		p {
			word-break: break-word;
			img {
				display: inherit;
				margin: 0 auto;
				text-align: center;
				max-width: 100%;
			}
			table {
				display: inherit;
				margin: 0 auto;
				max-width: 100%;
			}
		}

		strong {
			color: #009788;
			float: left;
			display: inline-block;
			margin-bottom: 20px;
			width: 100%;
		}
	}

	#startValuesAndTargetExample {
		position: relative;
	}
		
	#icone-timer2, #icone-timer3 {
		display: none;
	}

	.values {
		background: url('../images/prova/cronometro.png') no-repeat center left;
		width: 100%;
		float: left;
		height: 46px;
		margin: -38px 0 0 52px;
		font-size: 2em;
		letter-spacing: 0.36em;
		padding-left: 6px;
		line-height: 46px;
		position: relative;
	}

	.avisoTempo {
		min-height: 30px;
		line-height: 30px;
		line-height: 1.1em;
		padding: 0 !important;
		margin: 0;
		&.atencao {
			img {
				display: inline-block;
				margin: -2px 2px 0 5px;
			}
			strong {
				color: #fea000;
			}
		}
		&.perigo {
			img {
				display: inline-block;
				margin: -2px 2px 0 5px;
			}
			strong {
				color: #ff5623;
			}
		}
	}

	#mensagem30, #mensagem05 {
		display: none;
		left: -305px;
		top: -20px;
		position: absolute;
	}

	input.error, textarea.error {
		border: 1px solid #f00;
	}

	label.error {
		color: #f00;
		float: right;
		padding-top: 3px;
	}

	.alert {
	    padding: 15px;
	    margin-bottom: 20px;
	    border: 1px solid transparent;
	    border-radius: 4px;
	    border-width: 0 2px;
	    margin-bottom: 20px;
	    h2 {
			margin-top: 0;
		    &:before, &:after {
		    	display: none !important;
		    }	
	    }
	}
	.alert-danger {
	    background-color: #ffd1cc;
	    border-color: #ffb8b0;
	}
	.alert-danger, .alert-danger .alert-link {
	    color: #e74c3c;
	}

	.triangle-border {    
		position: absolute;
		padding: 15px 40px;
		margin: 1em 0 3em;
		border: 1px solid #c4c4c4;
		color: #333;
		background: #fff;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 4px;
		width: 280px;
		left: -305px;
		top: -22px;
		z-index: 1;
		// opacity: 0.7;
		box-shadow: 0 0 5px #c4c4c4;

		img {
			float: left;
			margin-top: 11px;
			margin-left: -20px;
		}

		.regulamento-fechar {
			background: url('../images/prova/fechar.png') no-repeat top left;
			cursor: pointer;
			display: inline-flex;
			float: right;
			height: 24px;
			width: 24px;
			z-index: 6;
			position: absolute;
			right: 8px;
			top: 5px;
		}
	}

	.triangle-border.right {
	  margin-right:30px;
	}

	.triangle-border:before {
	  content:"";
	  position:absolute;
	  bottom:-20px; /* value = - border-top-width - border-bottom-width */
	  left:40px; /* controls horizontal position */
	  border-width:20px 20px 0;
	  border-style:solid;
	  border-color:#5a8f00 transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}

	.triangle-border:after {
	  content:"";
	  position:absolute;
	  bottom:-13px; /* value = - border-top-width - border-bottom-width */
	  left:47px; /* value = (:before left) + (:before border-left) - (:after border-left) */
	  border-width:13px 13px 0;
	  border-style:solid;
	  border-color:#fff transparent;
	  /* reduce the damage in FF3.0 */
	  display:block;
	  width:0;
	}

	/* creates the larger triangle */
	.triangle-border.right:before {
		top: 21px;
		bottom: auto;
		left: auto;
		right: -18px;
		border-width: 10px 0 10px 18px;
		border-color: transparent #c4c4c4;
	}

	/* creates the smaller  triangle */
	.triangle-border.right:after {
		top: 22px;
		bottom: auto;
		left: auto;
		right: -17px;
		border-width: 9px 0 9px 18px;
		border-color: transparent #fff;
	}

	.botoes-enviar-prova {
		margin-bottom: 20px;
	}

	.save-prova-online {
		padding-top: 20px;
	}

	.prova-online-footer {
		background: #424242 url('../images/prova/footer.png') no-repeat center bottom;
		color: #cccccc;
		clear: both;
		font-family: 'open_sansregular';
		font-size: 0.8em;
		min-height: 68px;
		line-height: 68px;
		text-align: center;
		position: static;
		bottom: 0;
		width: 100%;
	}
	
	.scroll-top {
		visibility: hidden;
		padding: 20px 20px;
		background: url('../images/prova/icone.png') no-repeat top left;
		background-position: -400px 0px;
		color: white;
		position: fixed;
		bottom: 100px;
		right: 10px;
		z-index: 999;
		border-radius: 100%;
		cursor: pointer;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}

	.scroll-top.visible {
		visibility: visible;
		opacity: 1;
	}

	.scroll-top.active {
		bottom: 60px;
	}

	.scroll-top:hover {
		background-color: #333;
	}

	/** MENUS SLIDE **/
	/* General styles for all menus */
	#bg-menu-regulamento {
		background: rgba(0,0,0,0.3);
		width: 100%;
		height: 100%;
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		&.active {
			display: block;
		}
	}
	.cbp-spmenu {
		background: #fff;
		position: fixed;
		padding: 40px;
		h2 {
			color: #009d86;
			margin-bottom: 50px;
			&:before {
				content: "";
				display: none !important;
			}
		}
		p {
			font-size: 1.05em;
			line-height: 1.25em;
		}
		#regulamento-fechar {
			background: url('../images/prova/fechar.png') no-repeat top left;
			cursor: pointer;
			display: inline-flex;
			float: right;
			height: 24px;
			width: 24px;
			z-index: 6;
		}
	}

	/* Orientation-dependent styles for the content of the menu */
	.cbp-spmenu-vertical {
		width: 50vw;
		height: 100%;
		top: 0;
		z-index: 1000;

		a {
			border-bottom: 1px solid #258ecd;
			padding: 1em;
		}
	}

	.cbp-spmenu-horizontal {
		width: 100%;
		height: 150px;
		left: 0;
		z-index: 1000;
		overflow: hidden;
		h2 {
			height: 100%;
			width: 20%;
			float: left;
		}
		a {
			float: left;
			width: 20%;
			padding: 0.8em;
			border-left: 1px solid #258ecd;
		}
	}

	/* Vertical menu that slides from the left or right */

	.cbp-spmenu-left {
		left: -50vw;
	}

	.cbp-spmenu-right {
		right: -240px;
	}

	.cbp-spmenu-left.cbp-spmenu-open {
		left: 0px;
	}

	.cbp-spmenu-right.cbp-spmenu-open {
		right: 0px;
	}

	/* Horizontal menu that slides from the top or bottom */

	.cbp-spmenu-top {
		top: -150px;
	}

	.cbp-spmenu-bottom {
		bottom: -150px;
	}

	.cbp-spmenu-top.cbp-spmenu-open {
		top: 0px;
	}

	.cbp-spmenu-bottom.cbp-spmenu-open {
		bottom: 0px;
	}

	/* Push classes applied to the body */

	.cbp-spmenu-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}

	.cbp-spmenu-push-toright {
		left: 240px;
	}

	.cbp-spmenu-push-toleft {
		left: -240px;
	}

	/* Transitions */

	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}

	/* Example media queries */

	@media screen and (max-width: 55.1875em){

		.cbp-spmenu-horizontal {
			font-size: 75%;
			height: 110px;
		}

		.cbp-spmenu-top {
			top: -110px;
		}

		.cbp-spmenu-bottom {
			bottom: -110px;
		}

	}

	@media screen and (max-height: 26.375em){

		.cbp-spmenu-vertical {
			font-size: 90%;
			width: 190px;
		}

		.cbp-spmenu-left,
		.cbp-spmenu-push-toleft {
			left: -190px;
		}

		.cbp-spmenu-right {
			right: -190px;
		}

		.cbp-spmenu-push-toright {
			left: 190px;
		}
	}

	/** aplicacoes extras no modal **/
	h4.modal-title {
		color: #009d86;
		text-align: center;
		font-size: 1.3em;
		margin-top: 30px;

		&:after {
			display: none !important;
		}
	}

	#regulamento-fechar-modal {
		background: url('../images/prova/fechar.png') no-repeat top left;
		cursor: pointer;
		display: inline-flex;
		float: right;
		height: 24px;
		width: 24px;
		position: absolute;
		right: 20px;
		top: 20px;
	}

	.texto-aceita-termo {
		font-size: 1.1em;
		line-height: 1.3em;
		text-align: center;
		width: 100%;
	}

	.modal-content {
		padding-bottom: 20px;
	}

	.modal-footer {
		.aceitaTermo {
			margin-top: 20px;
			min-width: 155px;
		}
	}

	.modal {
		text-align: center;
		padding: 0!important;
		&:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -4px;
		}
	}

	.modal-dialog {
		display: inline-block;
		text-align: left;
		vertical-align: middle;
	}	

	@media (max-width: @breakpoint-med) {

		h1 { font-size: 2.2em; text-align: center; }
		h2 { font-size: 1.7em; text-align: center; }
		h3 { font-size: 1.37em; text-align: center; }
		h4 { font-size: 1.12em; text-align: center; }
		h5 { font-size: 1.03em; text-align: center; }
		h6 { font-size: 0.87em; text-align: center; }

		h1, h2, h3, h4, h5, h6 {
			&:after {
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}

		.container-prova {
			width: 96%;
		}

		.topo-estatico {
			background: #f2f2f2;
			position: fixed;
			left: 0;
			top: 0;
			padding-top: 10px;
			width: 100%;
			z-index: 2;
		}

		.prova-topo-estatico {
			padding-top: 40px;
		}

		.show-sm {
			display: block;
		}

		.hidden-sm {
			display: none;
		}

		.sm-center {
			text-align: center;
		}

		.modal-body {
			padding-left: 20px;
			padding-right: 20px;
		}

		#regulamento-fechar-modal {
			right: 12px;
			top: 12px;
		}

		.texto-aceita-termo {
			padding: 0 12px;
		}

		main {
			padding: 10px;
		}

		.container-prova.bloco-principal {
			margin: 10px auto;
			padding: 10px;
		}

		.logo-vestibulares-verde {
			background: url('../images/prova/logo-vestibulares-verde-menor.png') no-repeat top left;
			display: inline-grid;
			height: 32px;
			width: 141px;
		}

		p {
			font-size: 1.1em;
			line-height: 1.4em;
		}

		.termoh2 {
			font-size: 1.36em;
			text-align: left;
		}

		table {
			max-width: 100% !important;
		}

		.instrucoes {
			p {
				font-size: 1em !important;
			}
		}

		#ascrail2000 {
			width: 6px !important;
		}

		#aceiteScroll {
			p {
				font-size: 1em;
				padding: 0px 14px;
			}
		}

		.recusar {
			float: left;
		}

		.aceitar {
			float: right;
		}

		.btn {
			font-size: 0.8em;
			margin: 0px;
			padding: 10px 14px;
		}

		.titulo-timer {
			font-size: 1em !important;
			span {
				float: left;
				margin-right: 3px;
			}
		}

		.values {
			margin: 0;
		}

		.btn-regulamento {
			width: 100%;
			// background-color: #009688;
			// color: #fff;
			background-color: #fff;
			color: #009688;
			text-align: center;

			&:before {
				display: none !important;
			}

			&:hover:before{
				left: 0;
			}
			p {
				margin: 0;
				padding: 0;
				position: relative;
				z-index: 1;
				transition: all 0.5s ease;
				text-align: center;
				width: 100%;
			}
		}

		.cbp-spmenu-vertical {
			width: 100vw;
			height: 100%;
			top: 0;
			z-index: 1000;

			h2 {
				margin-top: -20px;
			}

			p {
				font-size: 1.15em;
				line-height: 1.6em;
			}

			a {
				border-bottom: 1px solid #258ecd;
				padding: 1em;
			}
		}

		.processo-timer {
			float: right;
			display: inline-block;
			width: 217px;
			padding-right: 20px;
		}

		.cbp-spmenu-vertical {
			font-size: 90%;
			width: 100vw;
		}

		.cbp-spmenu-left,
		.cbp-spmenu-push-toleft {
			left: -100vw;
		}

		.cbp-spmenu-right {
			right: -100vw;
		}

		.cbp-spmenu-push-toright {
			left: 100vw;
		}

		// .triangle-border.right:after, .triangle-border.right:before {
		// 	display: none;
		// }

		.timer {
			width: 100%;
			height: auto;
		}

		#icone-timer-menor2, #icone-timer-menor3 {
			display: none;
		}
		
		#icone-timer, #icone-timer2, #icone-timer3 {
			display: none !important;
		}

		.triangle-border.right {
			top: 65px !important;
			left: -122px !important;
			width: 316px !important;
		}

		.triangle-border.right:after {
			top: -18px !important;
			bottom: auto !important;
			left: 156px !important;
			transform: rotate(-90deg) !important;
		}

		.triangle-border.right:before {
			top: -20px !important;
			bottom: auto !important;
			left: 156px !important;
			transform: rotate(-90deg) !important;
		}

		.enviar-redacao, .sair-redacao {
			float: left;
			font-size: 1em;
			margin-bottom: 20px;
			min-width: 100% !important;
			text-align: center;
			width: 100% !important;
		}

		.logo-vestibulares-footer {
			background: url('../images/prova/logo-vestibulares-footer.png') no-repeat center center;
			float: left;
			height: 18px;
			width: 100%;
			margin: 20px 0 -15px 0;
		}
	}

	@media (min-width: 768px) {
		.scroll-top.active {
			bottom: 1545px;
		}
	}

	@media (min-width: 992px) {
		.scroll-top.active {
			bottom: 1590px;
		}
	}

	@media (min-width: 1200px) {
		.scroll-top.active {
			bottom: 2820px;
		}
	}

	.modal-header-sem-borda {
		border-bottom: none!important;
	}

	.modal-footer-sem-borda {
		border-top: none!important;
	}
}