/*------------------------------------*\
    $BOX INFO
\*------------------------------------*/

.box {
    margin: 10px 0 15px; 
    padding: 10px 15px; 
    display: block; 
    clear: both; 
    position: relative; 
    border: 1px solid @black-20;
    background: @black-10;
    color: @black-50;
    &.large {
    	padding: 22px;
        font-size: 1.3em; 
        font-weight: bold;         
    }
    &.alert {
        border-color: #FBEED5; 
        background: #FCF8E3; 
        color: @color-alert;
        a {
        	color: @color-alert;
        	font-weight: bold
        }
    }
    &.error {
        border-color: #EED3D7; 
        background: #F2DEDE; 
        color: @color-error;
        a {
        	color: @color-error;
        	font-weight: bold
        }        
    }
    &.success {
        border-color: #D6E9C6; 
        background: #DFF0D8; 
        color: @color-success;
        a {
        	color: @color-success;
        	font-weight: bold
        }         
    }
    &.info {
        border-color: #BCE8F1; 
        background: #D9EDF7; 
        color: @color-info;
        a {
        	color: @color-info;
        	font-weight: bold
        }         
    }
    i {
    	margin-right: 10px
    }
}

/*------------------------------------*\
    $BUTTON
\*------------------------------------*/

.btn {
	display: inline-block;
	padding: 10px 20px;
	background: lighten(@black-10,5%);
	border: 1px solid @black-20;
	font-size: .9em;
	color: @black-50;
	text-decoration: none;
	text-align: center;
    .transition();
	&:hover {
		background: @black-10;
	}
	/* Tamanhos */
	&.grande {
		padding: 15px 20px;
		font-size: 1.2em
	}
	&.medio {		
		font-size: 1em;
	}
	&.pequeno {
		padding: 8px;
		font-size: .7em
	}
	/* Cores */
	&.destaque {
		background: @yellow;
		border: none;
		color: @dark-blue;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			background: @dark-blue;
			color: @yellow;
		}
	}
	&.atencao {
		background: @blue;
		border-color: @blue;
		color: #FFF;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			background: @dark-blue;
			border-color: @dark-blue
		}
	}

	&.atencao-video {
		background: @light-blue;
		border-color: @light-blue;
		color: #FFF;
		font-weight: 700;
		text-transform: uppercase;
		&:hover {
			background: @dark-blue;
			border-color: @dark-blue
		}
	}

	/* Display */
	&.block {
		display: block;
		padding-right: 10px;
		padding-left: 10px;
	}
	
	&.inativo {
		cursor: default;
		.opacity(50)
	}
	
	/* Icones */
	i {
		margin-right: 10px
	}

}
button {
	&.block {
		width: 100%	
	}
}
input[type="submit"], 
button {
	&.btn {
		border: none;
	}
}

/*------------------------------------*\
    $FORMS
\*------------------------------------*/

.form-column {
	margin-bottom: 20px
}

.label-normal {
	display: block;
	margin-bottom: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: .9em;
	small {
		font-weight: normal;
		color: @black-30;
		font-style: italic
	}
}

.label-destaque {
	display: block;
	margin-bottom: 10px;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 1.2em;
	small {
		font-weight: normal;
		color: @black-30;
		font-style: italic
	}
}

.input-normal,
select.input-select {
	width: 100%;
	padding: 8px 10px;
	border: 1px solid @black-20;
	background: #FFF;
	font-size: .9em;
	color: @black-50;
	.shadow(1px 2px 1px rgba(0,0,0,.05));
	.transition();
    &:focus {
		border-color: @blue;
    }
    &.invalid {
		border-color: @color-error;
    }
    &.valid {
		border-color: @color-success;
    }
}

.select-normal,
select.input-select {
	width: 100%;
	padding: 7px 10px;
	border: 1px solid @black-20;
	background: #FFF;
	font-size: .9em;
	color: @black-50;
	.shadow(1px 2px 1px rgba(0,0,0,.05));
	.transition();
	&:focus {
		border-color: @blue;
	}
	&.invalid {
		border-color: @color-error;
	}
	&.valid {
		border-color: @color-success;
	}
}

input[disabled] {
	background: @black-10;
	cursor: not-allowed;
}

.form-help-error {
	display: block;
	padding: 8px;
	margin-top: 5px;
	background: lighten(@color-error,40%);
	font-size: .7em;
	font-style: italic;
	color: @color-error
}

.radios {
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	label {
		margin-right: 10px
	}
	&.invalid {
		label {
			color: @color-error
		}
	}
}

.radio-control {
	margin-top: 10px;
	margin-bottom: 10px;
	label {
		margin-right: 10px
	}
	&.invalid {
		label {
			color: @color-error
		}
	}
}

.checkbox {
	input {
		margin-right: 10px
	}
	font-size: .9em;
	&.invalid {
		label {
			color: @color-error !important
		}
	}	
}

/*------------------------------------*\
    $BADGE
\*------------------------------------*/

.badge {
    display: inline-block;
    padding: 2px 4px;
    vertical-align: baseline;
    white-space: nowrap;    
    background-color: @black-30;
    font-size: .8em;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    .border-radius(2px,2px,2px,2px);
    &:empty {
        display: none;
    }
    &.alert {
        background: @color-alert;
    }
    &.error {
        background: @color-error;
    }
    &.success {
        background: @color-success;
    }
    &.info {
        background: @color-info;
    }
    &.clear {
        clear:both
    }
}

/*------------------------------------*\
    $TOOLTIP
\*------------------------------------*/
  
.tooltip-help {
	display: block;
	height: 25px;
	padding: 7px 15px;
	position: absolute;
    bottom: 18px;
    z-index: 98;
    background: @black-90;
    background: rgba(0,0,0,.8);
    color: #FFF;
    text-align: center;
    font-size: .7em;
    word-break: break-all;
    -moz-hyphens: auto;
    .shadow( 0 0 5px rgba(0,0,0,0.2));
    &:before {
        border: solid;
        border-color: @black-90 transparent;
        border-color: rgba(0,0,0,0.8) transparent;
        border-width: 6px 6px 0 6px;
        bottom: 0;
        margin-bottom: -6px;
        content: "";
        display: block;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        z-index: 99;
    }
    p {
	    margin: 0
    }
}
  


/* ajustes branch 2017_472 */
.graduacaoTipo {
	.form-help-error {
		margin-left: -8px !important;
		padding-top: 50px !important;
	}
}
.reimpressaoInscricaoBoleto {
	padding: 1px 5px;
    border: 1px solid #e6e6e6;
    margin-bottom: 20px;
    height: 46px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    float: left;
}
.reimpressaoInscricaoBoleto a {
	font-weight: bold;
	color: @dark-blue;
}
.tab-matricula-inicial > .tabs-nav a {
	color: @dark-blue;
}
.tab-matricula-inicial > .tabs-nav li {
    height: 80px;
}
.tab-matricula-inicial > .tabs-nav a.active {
	margin: -10px;
	padding: 25px;
}
.inscricao.page-breadcrumbs {
	background: none !important;
}
