.left { float: left !important; }
.right { float: right !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }
.hide { display: none !important;  }
.fancybox-hide { display: none }
.opaque { .opacity(0); visibility: hidden }
.antialiased { -webkit-font-smoothing: antialiased; }

.font-small { font-size: .8em !important }
.font-large { font-size: 2em !important }

.link-estilizado {
	text-decoration: none;
	color: @blue
}
.text-black-90 { color: @black-90 !important }
.text-black-30 { color: @black-30 !important }
.text-blue { color: @blue !important }
.text-light-blue {color:@light-blue !important}
.text-dark-blue { color: @dark-blue !important }
.text-yellow { color: @yellow !important }
.text-uppercase { text-transform: uppercase }
.text-red {color: @light-red !important}
.text-boxed {
	padding: 10px 15px;
	display: inline-block;
	background: @blue;
	color: #FFF;
	i {
		margin-right: 10px;
		line-height: 1.3em
	}
	&.seta {
		display: block;
		position: relative;
		&:before {
			border: solid;
			border-color: @blue transparent;
			border-width: 9px 9px 0 9px;
			bottom: 0;
			margin-bottom: -9px;
			content: "";
			display: block;
			left: 50%;
			margin-left: -9px;
			position: absolute;
			z-index: 99
		}			
	}	
	&.boxed-dark-blue {
		background: @dark-blue;
		&.seta {
			display: block;
			position: relative;
			&:before {
				border: solid;
				border-color: @dark-blue transparent;
				border-width: 9px 9px 0 9px;
				bottom: 0;
				margin-bottom: -9px;
				content: "";
				display: block;
				left: 50%;
				margin-left: -9px;
				position: absolute;
				z-index: 99
			}			
		}
	}
	&.boxed-gray {
		background: @black-10;
		&.seta {
			display: block;
			position: relative;
			&:before {
				border: solid;
				border-color: @black-10 transparent;
				border-width: 9px 9px 0 9px;
				bottom: 0;
				margin-bottom: -9px;
				content: "";
				display: block;
				left: 50%;
				margin-left: -9px;
				position: absolute;
				z-index: 99
			}			
		}
	}	
}

.bg-dark-blue { background-color: @dark-blue !important }

.display-block { display: block !important }

.boxed {
	padding: 20px;
	margin-bottom: 20px;
	border: 1px solid @black-20;
}
.boxed-bloco {
	padding-bottom: 10px;
	border-bottom: 1px dotted @black-20;
	&:last-child {
		border-bottom: none
	}
}

.list-no-style {
	padding: 0;
	margin: 10px 0 0 ;
	list-style: none;
	font-size: .9em;
	ul {
		padding: 5px 0 0 10px;
		list-style: none
	}
}
.list-line {
	padding: 0;
	margin: 10px 0 0 ;
	list-style: none;
	font-size: .9em;
	li {
		padding: 10px 0;
		border-bottom: 1px dotted @black-20;
		&:last-child {
			border: none
		}
	}	
}
.list-bullet {
	padding: 0 0 10px 15px;
	font-size: .9em;
	list-style: circle;
	li {
		padding: 5px
	}
}

.no-margin { margin: 0 !important }
.no-margin-top { margin-top: 0 !important }
.no-margin-bottom { margin-bottom: 0 !important }

.mt-5       { margin-top: 5px; }
.mr-5       { margin-right: 5px; }
.mb-5       { margin-bottom: 5px; }
.ml-5       { margin-bottom: 5px }
.mt-10      { margin-top: 10px; }
.mr-10      { margin-right: 10px; }
.mb-10      { margin-bottom: 10px; }
.ml-10      { margin-bottom: 10px }
.ml-20      { margin-bottom: 15px }
.mt-20      { margin-top: 20px; }
.mr-20      { margin-right: 20px; }
.mb-20      { margin-bottom: 20px; }
.ml-20      { margin-bottom: 20px }
.mt-30      { margin-top: 30px; }
.mr-30      { margin-right: 30px; }
.mb-30      { margin-bottom: 30px; }
.ml-30      { margin-bottom: 30px }

.full-width {
	width: 100%;
	float: left;
    margin-left: -50%;
    margin-top: 30px;
    padding: 30px 50%;
    position: relative;
    z-index: 0;
    background: #FFF;
    border: 1px solid @black-20;
    border-width: 1px 0;
    box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
}

.img-responsive {
	display: block;
	max-width: 100%; 
	height: auto;
}
.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
}
.embed-responsive-16by9 {
  padding-bottom: percentage(9 / 16);
}