@import "mixins.less"; 
@import "variables.less";

/*------------------------------------*\
    $MEDIA QUERY
\*------------------------------------*/


@media only screen  and (min-width : 320px) and (max-width : 755px) { /* Smartphones (portrait and landscape)  */

    
	.main-nav,
	.slideshow-wrapper,
	.slideshow-depoimentos,
	.footer-nav,
	.main-informacoes,
	.btn-lista-unidades{
		display: none
	}

	.vantagem-wrapper {
		&.border {
			border-width: 3px 0
		}
	}
	.bloco-vantagem {
		padding-top: 0;
		padding-bottom: 0;
		text-align: center;
		h5 {
			width: 100%;
			padding: 10px 0 0 0
		}
		.imagem-vantagens {
			display: inline-block;
			float: none
		}
	}
	.main-slogan {
		margin-bottom: 20px;
		text-align: center;
		h1 {
			font-size: 1.5em;
		}
		h5 {
			font-size: 1.1em
		}
	}
	.btn-acompanhe-inscricao {
		display: block;
		text-align: center
	} 
	
	.page-content {
		border: none;
		padding: 0
	}

	.tab-main-cursos {
		.tabs-nav {
			li {
				float: none
			}
			a {
				border: 1px solid @black-10;
				&.active {
					background: @blue;
					color: #FFF
				}
			}
		}
		
		.tab {
			border: none
		}
	}
	.tab-conteudo-curso {
		.tabs-nav,
		.tab {
			width: 100%;
			float: none
		}
		.tab {
			padding: 0
		}
		.imagem-curso {
			display: none
		}
	}
	
	.imagem-curso {
		img {
			display: none;
		}
		h2 {
			padding: 0;
			position: relative;
			background: none;
			text-shadow: none;
			color: @black-60
		}
	}
	.breadcrumbs-marticula {
		li {
			width: 100%;
			border-width: 0 0 1px 0
		}
	}
	.mapa-unidades-wrapper {
		width: 100%
	}
	.bloco-icones {
		margin-bottom: 10px
	}
	#mapa-unidades {
		display: none
	}
	.filtros-mapa {
		.filtro-mapa-estado,
		.filtro-mapa-cidade,
		.filtro-mapa-raio {
			float: none;
			width: 100%;
			.wrapper-select {
				padding: 0
			}
		}
		label {
			display: block;
			float: none
		}
	}
	.selecao-curso,
	.segunda-opcao-curso .tab-seleciona-curso {
		width: 290px
	}

	.modalidades-selecionar {
		li {
			margin-bottom: 20px
		}
	}
	.box-campo-escondido {
		width: 100%;
		&:before {
			border: none
		}
	}
	#confirma-matricula {
		padding: 10px;
		.btn,
		.input-normal {
			display: block;
			margin-bottom: 10px;
			float: none;
		}
	}
		
    /** navegacao smartphone **/
    
    #mobile-nav {
        z-index: 200;
        position: absolute;
        top: 0;
        padding-top: 40px;
        overflow: hidden;
        display: block;
        width: 100%;
        color: #fff;
        &:not(:target) {
            z-index: 1;
            height: 0;       
        }
        .content {
            position: relative;
            margin: 0 auto;
            max-width: 60em;
            z-index: 2;
        }
        ul {
            padding: 0;
            margin: 0;
        }
        li {
            display: block;
            position: relative;
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            &:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            }
            a {
                display: block;
                color: #ccc;
                font-size: 0.875em;
                line-height: 1.28571em;
                padding: 10px 15px;
                text-decoration: none;
                &:hover {
                    color: #FFFFFF;
                    background: fade(#FFF,10%);
                }         
            }
        }
    }
    
    #nav-open {
        display: block;
        color: #FFFFFF;
        background: @black-80;
        width: 40px;
        height: 40px;
        text-decoration: none;
        text-align: center;
        padding: 10px 0;
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        &:before {
            font-family: @font-icon;
            content: @reorder;
            font-size: 1.2em
        }
    }
    
    
    .closed {
        #mobile-nav {
            height: 100%;
            width: 70%;
            left: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            -moz-transform: translate3d(-100%, 0, 0);
            -ms-transform: translate3d(-100%, 0, 0);
            -o-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
            background: @black-80;
            -webkit-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
            -moz-box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
            box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25); 
            .content {
                background: transparent;
                filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
                opacity: 0.7;
                -webkit-transition: opacity 300ms 100ms, -webkit-transform 500ms ease;
                -webkit-transition-delay: ease, 0s;
                -moz-transition: opacity 300ms 100ms ease, -moz-transform 500ms ease;
                -o-transition: opacity 300ms 100ms ease, -o-transform 500ms ease;
                transition: opacity 300ms 100ms ease, transform 500ms ease;
                -webkit-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
                -moz-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
                -ms-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
                -o-transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
                transform: translate3d(70%, 0, 0) scale3d(0.9, 0.9, 0.9);
                -webkit-transform-origin: 50% 0%;
                -moz-transform-origin: 50% 0%;
                -ms-transform-origin: 50% 0%;
                -o-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
            }
        }
        #inner {
            left: 0 !important;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform 500ms ease;
            -moz-transition: -moz-transform 500ms ease;
            -o-transition: -o-transform 500ms ease;
            transition: transform 500ms ease;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            -ms-backface-visibility: hidden;
            -o-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    }
    
    .opened { 
        #inner {
            left: 70%;
            -webkit-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -moz-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -ms-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            -o-transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(70%, 0, 0) scale3d(1, 1, 1);
        }
        #mobile-nav .content {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
}




@media only screen and (min-width : 768px) and (max-width : 980px) { /* iPads (portrait and landscape) */
	.main-nav-parent {
		> a {
			padding: 15px;
			font-size: .8em
		}	
	}
	.main-slogan {
		h1 {
			font-size: 3em
		}
	} 
	.tab-matricula-inicial {
		> .tabs-nav {
			li {
				&.reimpressao {
					padding-top: 0
				}
				&.inscricao {
					a {
						font-size: 1em
					}
				}
			}
		}
	}
	.bloco-vantagem {
		text-align: center;
		h5 {
			width: 100%;
			padding: 10px 0 0 0
		}
		.imagem-vantagens {
			display: inline-block;
			float: none
		}
	}	
	.acao-home {
		padding-top: 15px
	}
	.depoimento {
		.frase {
			width: auto
		}
	} 
	.filtros-mapa {
		.filtro-mapa-estado {
			width: 50%;
			margin-right: 2%;
		}
		.filtro-mapa-cidade {
			width: 48%;
			margin: 0
		}	
		.filtro-mapa-raio {
			margin-top: 15px
		}	
	}
	.modalidades-selecionar {
		li {
			width: 100%;
			margin-bottom: 20px
		}
	}
	.footer-nav {
		a {
			font-size: .8em
		}
	}
}
